/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */



#top
{
    text-align: center;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#middle .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle td
{
    /* left-align tables' cells */
    text-align: left;
}

#bottom
{
    text-align: center;

    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}
